.Title{
color: black;
font-size: 50px;
display: flex;
font-weight: bold;
top: 30vh;
text-align: center;
align-items: center;
margin-left: 20vw;
position: relative;
top: 20vh;
}
.Imagen{
width: 250px;
display: flex;
margin-left: -28vw;
position: relative;
top: 110px;
}

.Description{
color: black;
font-size: 25px;
display: flex;
top: 30vh;
text-align: center;
align-items: center;
margin-left: 15vw;
position: relative;
top: 55vh;
}

.Cajas{
text-align: center;
align-items: center;
margin-left: 50vw;
position: relative;
display: flex;
}

.Form{
height: 10px;
text-align: center;
justify-content: center;
align-items: center;
display: inline-block;
padding: 6px;
}

.col-auto{
border: none;
border-radius: 6px;
font-size: 20px;
line-height: 48px;
padding: 0 16px;
width: 332px;
}

.btn{
border: none;
border-radius: 700px;
font-size: 20px;
line-height: 48px;
padding: 0 16px;
width: 300px;

}
